* {
    background-color: khaki;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    color:black;
    margin: 10px;

}
h1 {
    background-color: chocolate;
    font-size: xx-large;
    font-family: fantasy;
    font-weight: 800;
    text-align: center;
    text-decoration-line: underline;
    text-shadow: khaki;
    

}
h2 {
    
    color: blue;
    background-clip: content-box;
    text-align: justify;
}
h4 {
    text-align: center;
    color: lightcoral;
}
h5 {
    text-align: center;
    color: lightcoral;
}
img {
    width: max-content;
}
